html { 
  background: url(../img/bg-3.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	padding: 30px;
	height: auto;
	width: auto;
	text-align: center;
	background: rgb(0, 0, 0);
	background: rgba(0,0,0,0.8);
}

.bottom-fill {
	height: 100%;
}

.container h1 {
	margin: 0 0 10px 0;
	font: normal 70px verdana;
	letter-spacing: 2px;
	color: #ccc;
}

.container ul {
	width: 100%;
	margin: 0 0 50px 0; padding: 0 0 0 0;
	float: left;
}

.container ul li  {
	margin-right: 30px;
	padding: 10px;
	display: inline-block;
	font: normal 15px verdana;
	background: #000;
}

.container .first {
	margin-left: 25px;
}

.container ul li a {
	text-decoration: none;
	color: #aaa;
}

.container .contact {
	font: normal 14px verdana;
	letter-spacing: 2px;
	color: #aaa;
}