// Colors _____________________________________________________________________
$dark-grey: #3b3b3b;
$drop-shadow:rgba(0,0,0,0.75);

// Google Fonts _______________________________________________________________
@import url(http://fonts.googleapis.com/css?family=Lobster|Raleway);

// Variables __________________________________________________________________
$base-font-size: 16px;

$h1-font-size: 60px;
$h2-font-size: 36px;
$h3-font-size: 24px;
$p-font-size: 14px;

$h1-font: 'Lobster', Georgia;
$h2-font: 'Raleway', Arial, sans-serif;
$h3-font: 'Raleway', Arial, sans-serif;
$p-font: 'Raleway', Arial, sans-serif;
$a-font: Verdana, sans-serif;


$primary-color: #FFF;
$hover-color: #9cf7ff;

$box-shadow: 7px 7px 10px $drop-shadow;

$bottom-nav-space: 20px;

$primary-margin: 10px;

$primary-border-radius: 10px;

