@import 'base';

body {
	background: $dark-grey;
}

.main {
	margin: 0 auto;
	width: 800px;

	h1 {
		font-family: $h1-font;
		color: $primary-color;
		font-size: $h1-font-size;
		text-align: center;
		text-shadow: $box-shadow;
	}

	h2 {
		font-family: $h2-font;
		color: $primary-color;
		font-size: $h2-font-size;
		text-align: center;
		text-shadow: $box-shadow;
	}

	p {
		font-family: $p-font;
		font-size: $p-font-size;
		color: $primary-color;
		text-align: center;
	}

	.accordion{ 
		
	   dt {
	      a {
	        display: block;
			font-family: $h2-font;
			color: $primary-color;
			font-size: $h2-font-size;
			text-align: center;
			text-shadow: $box-shadow;
			text-decoration: none;
			margin: 0 0 $bottom-nav-space 0;
	      }

	      a:hover {
	      	color: $hover-color;
	      }
	   }

	   dd {

	   		margin: 0;

	   		img.about-img {
	   			display: block;
	   			margin: 0 auto;
	   			margin-bottom: $primary-margin;
	   		}

			p {
				font-family: $p-font;
				font-size: $p-font-size;
				color: $primary-color;
				margin: 0 auto;
				margin-bottom: $bottom-nav-space;
				line-height: 200%;
				text-align: center;

				a {
					text-decoration: none;
					color: $hover-color;
				}

				a:hover {
					color: $primary-color;
				}
			}
		}
	}

}