@import 'base';

body {
	background: $dark-grey;
}

.main {
	margin: 0 auto;
	width: 800px;

	h1 {
		font-family: $h1-font;
		color: $primary-color;
		font-size: $h1-font-size;
		text-align: center;
		text-shadow: $box-shadow;
	}

	h2 {
		font-family: $h2-font;
		color: $primary-color;
		font-size: $h2-font-size;
		text-align: center;
		text-shadow: $box-shadow;
	}

	p {
		font-family: $p-font;
		font-size: $p-font-size;
		color: $primary-color;
		text-align: center;
	}

	.main-content {

		text-decoration: none;

		ul {
			
			li {
				list-style-type: none;
			}
		}

	}

}